@model IEnumerable<Core.Entities.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Departments</h1>
<p>
    <a asp-action="Create">Create New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incentive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetById" asp-controller="Departments" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-action="GetById" asp-controller="Departments" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Incentive)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <!-- Button trigger modal -->
                <button type="button" data-toggle="modal" data-target="#delete-@item.Id">
                    Delete
                </button>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <!-- Modal -->
                <div class="modal fade" id="delete-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation for Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete @item.Name ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
